<h1>Login</h1>

<form class="login-form" #loginForm="ngForm" (ngSubmit)="onLogin(loginForm)">
  <mat-form-field appearance="outline">
    <mat-label> Email </mat-label>
    <input matInput type="email" ngModel required email="" name="email" />
    <mat-error *ngIf="loginForm.controls?.['email']?.errors?.['required']">
      Email is required
    </mat-error>
    <mat-error *ngIf="loginForm.controls?.['email']?.errors?.['email']">
      Invalid email format
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Password</mat-label>
    <input
      matInput
      type="password"
      name="password"
      ngModel
      required
      minlength="6"
    />
    <mat-error *ngIf="loginForm.controls?.['password']?.errors?.['required']">
      Password is required
    </mat-error>
    <mat-error *ngIf="loginForm.controls?.['password']?.errors?.['minlength']">
      Password must be at least 6 characters
    </mat-error>
  </mat-form-field>
  <button
    mat-raised-button
    color="primary"
    type="submit"
    [disabled]="loginForm.invalid"
  >
    Login
  </button>
</form>
<p class="helper-text">
  Don't have an account? <a routerLink="/signup">Sign up</a>
</p>
